/* Be kind. Rewind your expectations. */

/* 
    FONT
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* 
    RESET
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* 
    GENERALS
*/

#landing-page {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

#site-logo{
    width: 350px;
    height: 200px;
    position: relative;
    z-index: 10;
}

html{
    scroll-behavior: smooth;
}

/* 
    NAV
*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    padding: 0 20px;
    position: relative;
    z-index: 10;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

section{
    background-color: rgb(245, 245, 245);
}

.nav__link--list{
    display: flex;
}

.nav__link{
    margin: 0 12px;
}

.nav__link--anchor{
    font-size: 16px;
    color: #242424;
    font-weight: 700;
}

.btn{
    background-color: rgb(10, 50, 115);
    color: whitesmoke;
    padding: 8px 24px;
    border-radius: 50px;
    transition: all 300ms ease;
}

.link__nav--btn:hover{
    background-color: rgb(19, 91, 207);
}

.hero__wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
}

.hero__title{
    font-size: 48px;
    font-weight: 700;
    color: rgb(10, 50, 115);
    margin-bottom: 32px;
}

.hero__sub-title{
    font-size: 24px;
    font-weight: 400;
    color: rgb(10, 50, 115);
    margin-bottom: 72px;
    
}

.hero__cta{
    padding: 36px 65px;
    font-size: 36px;
}

/* 

BACKGROUND SHAPES

 */

.shape{
    position: absolute;
    z-index: 0;
    pointer-events: none;
    
 }

.shape--0 {
  height: 5vh;
  width: 3vw;
  left: 10vw;
  top: 10vh;
}

.shape--1 {
  height: 5vh;
  width: 3vw;
  left: 40vw;
  top: 15vh;
}

.shape--2 {
  height: 5vh;
  width: 3vw;
  left: 75vw;
  top: 8vh;
}

.shape--3 {
  height: 5vh;
  width: 3vw;
  left: 20vw;
  top: 40vh;
}

.shape--4 {
  height: 5vh;
  width: 3vw;
  left: 55vw;
  top: 38vh;
}

.shape--5 {
  height: 5vh;
  width: 3vw;
  left: 85vw;
  top: 42vh;
}

.shape--6 {
  height: 5vh;
  width: 3vw;
  left: 5vw;
  top: 70vh;
}

.shape--7 {
  height: 5vh;
  width: 3vw;
  left: 30vw;
  top: 75vh;
}

.shape--8 {
  height: 5vh;
  width: 3vw;
  left: 60vw;
  top: 78vh;
}

.shape--9 {
  height: 5vh;
  width: 3vw;
  left: 90vw;
  top: 72vh;
}

.shape--10 {
  height: 5vh;
  width: 3vw;
  left: 45vw;
  top: 90vh;
}

/* 
    MOVIES CARDS
*/
main{
    background-color: rgb(10, 50, 115);
    max-width: 1200px;
    margin: 0 auto;
}

.popular-hits__cards{
    display: flex;
    justify-content: center;
    gap: 100px;
    text-align: center;
    color: whitesmoke;
    height: 75vh;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.movie-card__image{
    margin-top: 56px;
    width: 200px;
    height: 300px;
}

.carousel__prev{
    position: absolute;
    transform: translateY(-50%);
    top: 25%;
    right: 75%;
}

.carousel__next{
    position: absolute;
    transform: translateY(-50%);
    top: 25%;
    right: 24%;
}


